body {
  margin: 0;
}
.section1 {
  padding: 40 20px;
  display: flex;
  width: 100%;
  height: 500px;
  background-image: url("/geometry_math.jpg");
  background-size: cover;
  background-position: center;
}
.conteiner_for_img {
  width: 50%;
}
.container_for_article {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article_about_math {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 65%;
  padding: 0 16px;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  background-color: aliceblue;
}
.section2 {
  width: 100%;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
}
.card {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.section2_img {
  width: 50px;
}
.section3 {
  width: 100%;
  display: flex;
}
.section3_left_conteiner {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 32px 0;
  font-size: 18px;
  line-height: 1.5;
}
.section3_article {
  width: 65%;
}
.section3_list {
  list-style: circle;
}
.section3_list_text {
  font-size: 16px;
  font-style: italic;
}
.section3_conteiner_right {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.section3_img {
  width: 60%;
}
