.element_form {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.button_in_form {
  margin-top: 10px;
}
.add_task {
  padding: 15px;
}
.form_for_load_task {
  border-right: 2px solid rgb(199, 221, 221);
}
