@reference '../../index.css';

.add_variant {
  padding: 16px 32px;
  min-height: 800px;
}
.new_variant {
}
.load_picture {
  display: none;
}
.upload_picture {
  background-color: rgba(242, 242, 242, 0.815);
  border: 1px solid black;
  padding: 2px;
}

.creator_new_variant {
  border: 2px solid black;
  padding: 8px 32px;
  font-size: 18px;
}
.form_for_description_new_variant {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.conteiner_for_description {
  width: 100%;
  border: 2px solid black;
  padding: 8px 32px;
  overflow: hidden;
  @apply bg-red-100/30;
}
.container_for_button {
  display: flex;
  justify-content: space-between;
}
.custom-button {
  background-color: #90bde8; /* Зелений фон */
  color: white; /* Білий текст */
  border: 2px solid #90bde8; /* Зелені рамки */
  padding: 4px 8px; /* Відступи всередині кнопки */
  font-size: 16px; /* Розмір шрифту */
  cursor: pointer; /* Курсор у вигляді руки при наведенні */
  transition: background-color 0.3s, border-color 0.3s; /* Анімація для змін кольору */
  margin: 4px 0 16px 0;
}

.custom-button:hover {
  background-color: #90bde8; /* Темніший зелений при наведенні */
  border-color: #6389ac; /* Зміна кольору рамки */
}
.button_in_form_for_description {
  cursor: pointer;
  /* width: 60px; */
  margin: 16px;
}
.number_of_tasks_new_variant,
.name_new_variant {
  margin-bottom: 24px;
}
.list_tasks {
  padding-left: 0;
}
.list_item {
  padding: 24px 8px;
  border: 2px solid aliceblue;
  display: flex;
  flex-direction: column;
}
.creator_task {
  padding: 16px;
  border-bottom: 2px solid sandybrown;
  border-top: 2px solid sandybrown;
}
.form_for_task {
  display: flex;
  flex-direction: column;
}
.more_conditions {
  padding: 8px;
}
.add_condition {
  margin: 0 8px;
}
.data_answers {
  padding: 16px;
}
.form_answers {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.box_for_answer,
.box_for_qestion {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.data_correct_answer {
  padding-left: 16px;

  display: flex;
  flex-direction: column;
}
.saveAndCreate_button {
  display: flex;
  justify-content: space-around;
}
