.add_task {
  padding: 10px 32px;
  min-height: 600px;
}
.form_for_description_new_variant,
.creator_new_variant {
  border: 4px solid aliceblue;
}
.number_of_tasks_new_variant,
.name_new_variant {
  margin-bottom: 24px;
}
.list_tasks {
  padding-left: 0;
}
.list_item {
  padding: 24px 8px;
  border: 2px solid aliceblue;
  display: flex;
  flex-direction: column;
}
.creator_task {
  padding: 16px;
  border-bottom: 2px solid sandybrown;
  border-top: 2px solid sandybrown;
}
.form_for_task {
  display: flex;
  flex-direction: column;
}
.more_conditions {
  padding: 8px;
}
.add_condition {
  margin: 0 8px;
}
.data_answers {
  padding: 16px;
}
.form_answers {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.box_for_answer,
.box_for_qestion {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.data_correct_answer {
  padding-left: 16px;

  display: flex;
  flex-direction: column;
}
.saveAndCreate_button {
  display: flex;
  justify-content: space-around;
}
