.tests_item {
  margin-bottom: 10px;
  border-bottom: 10px solid; /* Задаємо нижній бордер */
  border-image: linear-gradient(to right, rgb(218, 224, 230), transparent) 1; /* Градієнт для бордера */
  border-image-slice: 1; /* Використовуємо весь градієнт для бордера */
}
.comparison_table {
  display: flex;
}
.list1,
.list2 {
  width: 50%;
}
.list_item {
  display: flex;
  padding: 4px 16px 4px 16px;
}
.open_answer {
  padding: 8px 68px;
}
