.test {
  border: 2px solid rgb(173, 173, 173);
  /* border-right: 1px solid rgb(173, 173, 173);
  border-left: 1px solid rgb(173, 173, 173); */
  margin-bottom: 10px;
}
.question_box {
  border-bottom: 2px solid rgb(244, 236, 236);
  background-color: white;
  padding-left: 15px;
}
.picture_for_question {
  width: 100px;
}
.answer_table {
  width: 100%;
  background-color: rgb(231, 231, 225);
  border-spacing: 0;
}
.mark {
  border: solid 2px rgb(244, 236, 236);
  text-align: center;
  padding: 5px;
}
.picture_for_answer {
  width: 50px;
}
.answer_options {
  border: solid 2px rgb(244, 236, 236);
  text-align: center;
}
.no_picture {
  display: none;
}
.is_picture {
  display: block;
}
.label {
  display: inline-block;
  padding: 5px;
}
.user_choice {
  margin: 0;
}
.box_choise {
  display: flex;
}
.form_for_answer {
  padding-left: 10px;
}
.answer {
  display: flex;
}
.MathJAx {
  display: inline;
}
