.wrapper_for_modal_window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000; /* Щоб накрити інший контент */
}
.modal_content {
  display: flex;
  flex-direction: column;
  position: relative;
  background: white;
  margin: 32px 0;
  /* padding: 0 20px 20px 20px; */
  /* border-radius: 8px; */
  min-width: 40%;
  height: max-content;
  max-width: 90vw;
  max-height: 90vh;
}
.container_for_children {
  padding: 16px;
  overflow-y: auto; /* скрол лише для контенту */
  flex: 1 1 auto; /* займатиме весь доступний простір */
}
.container_for_close_button {
  position: sticky; /* залишається зверху при скролі */
  background-color: aliceblue;
  display: flex;
  justify-content: flex-end; /* кнопка праворуч */
}
.close_button {
  /* position: absolute; */
  /* top: 10px;
  right: 10px; */
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}
